* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	
	color: #1f2937;
}

.header {
	background-color: #1f2937;
	color: #e5e7eb;
}

.header .container {
	width: 1000px;

	margin: 0 auto;
	padding: 16px 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .container .logo {
	font-size: 24px;
	font-weight: bold;

	color: #f9faf8;
}

.header .container ul {
	list-style: none;

	display: flex;
	gap: 24px;
}

.header .container ul li a {
	text-decoration: none;
	color: inherit;
}

.hero {
	background-color: #1f2937;
	color: #e5e7eb;

	padding: 100px 0;
}

.hero .container {
	width: 1000px;

	margin: 0 auto;
	padding: 16px 16px;

	display: flex;
	gap: 32px;
	justify-content: space-between;
	align-items: center;
}

.hero .container .text h1 {
	font-size: 48px;
	font-weight: 900;

	color: #f9faf8;
}

.hero .container .text a {
	display: inline-block;

	text-decoration: none;

	color: #f9faf8;
	background-color: #3882f6;

	margin: 16px 0;
	border-radius: 8px;
	padding: 8px 32px;
}

.hero .container img {
	object-fit: cover;

	min-width: 480px;
	height: 250px;
}
