* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	
	color: #1f2937;
}

.header {
	background-color: #1f2937;
	color: #e5e7eb;
}

.header .container {
	width: 1000px;

	margin: 0 auto;
	padding: 16px 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	font-size: 24px;
	font-weight: bold;

	color: #f9faf8;
}

.header ul {
	list-style: none;

	display: flex;
	gap: 24px;
}

.header a {
	text-decoration: none;
	color: inherit;
}
